<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INPUT URAIAN</h1>
    <form action="/" method="POST">
        <input type="text" name="uraian" placeholder="uraian kegiatan">
        <button type="submit">SUBMIT</button>
    </form>

    {% if prediction %}
    <p>Input : {{text}}</p>
    <p>Kategori 1 : {{ prediction[2][0] }} dengan nilai {{prediction[2][1]}}</p>
    <p>Kategori 2 : {{ prediction[1][0] }} dengan nilai {{prediction[1][1]}}</p>
    <p>Kategori 3 : {{ prediction[0][0] }} dengan nilai {{prediction[0][1]}}</p>
    {% endif %}
</body>
</html>